*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 思源黑體;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    width: 80%;
    height: 100%;
    margin: auto;
}
// 顏色
$primary:#7ba9d9;
$secondary:#FF9267;
$text:#123749;
$bacoground:#F2F2F2;
$neutral1:#C9DAEB;
$neutral2:#F4E4DD;
$neutral3:#FFFFFF;