@import "_reset";
body{
    height: 1000px;
}
.top{
    font-family: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    &-wrap{
        // border: 1px solid red;
        display: flex;
    }
    .menu{
        display: flex;
        justify-content: center;
        li{
            padding: 10px 20px;
            margin-right: 30px;
            &:last-child{
                margin-right: 0;
            }
        }
        a{
            color: $text;
            font-size: 20px;
            font-weight: bold;
        }
    }
    .social{
        display: flex;
    }
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/bg-blue1.jpg);
    background-position: bottom;
    background-repeat: repeat-x;
    &-content{
        display: flex;
        align-items: center;
        justify-content: center;
        >div{
            width: 50%;
        }
    }
    &-text{
        h1{
            color: $text;
            font-size: 64px;
            font-weight: bold;
            line-height: 140%;
        }
    }
}
.advocate{
    background-color: $neutral2;
    &-content{
        display: flex;
        align-items: center;
        min-height: 100vh;
    }
    .content-wrap{
        display: flex;
        >div{
            width: 50%;
            padding: 20px;
        }
    }
    h2{
        font-size: 40px;
        margin-bottom: 15px;
        color: $text;
    }
    a{
        background-color: $text;
        color:$neutral3;
        border-radius: 5px;
        padding: 5px 10px;
        margin-bottom: 35px;
    }
    p{
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: bold;
        color: $text;
    }
    &-img{
        // border: 1px solid red;
        img{
            border: 1px solid yellow;
            width: 425px;
            height: 425px;
            border-radius: 50%;
        }
    }
    .text{
        background-color: $text;
        color: $neutral3;
        border-radius: 10px;
        padding: 5px 10px;
    }
    button{
        margin-bottom: 30px;
    }
}
